<div class="panel">
<div class="panel-body">
    <% if not title.nil? %>
        <h4><%= title %></h4>
    <% end %>
    <table class="table table-striped table-condensed">
        <thead>
            <tr>
                <th>Name</th>
                <th>Rating</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <% items.each do |item| %>
                <% person = item[:permitable] %>
                <% rating = item[:rating] %>
                <tr>
                    <td><%= person.first_name %> <%= person.last_name %></td>
                    <td><%= rating %></td>
                    <!-- Change this to a contact! button -->
                </tr>
            <% end %>
        </tbody>
    </table>
</div>
</div>
