<h1>Listing trusted_apps</h1>

<table>
  <thead>
    <tr>
      <th>App name</th>
      <th>Description</th>
      <th>Sha hash</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trusted_apps.each do |trusted_app| %>
      <tr>
        <td><%= trusted_app.app_name %></td>
        <td><%= trusted_app.description %></td>
        <td><%= trusted_app.sha_hash %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
