<table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Average Rating</th>
                <th>Phone number</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>

    <tbody>
        <% items.each do |company| %>
        <tr>
            <td><%= company.name %></td>
            <% if company.average_rating.nil? then %>
                <td><i>None Provided</i></td>
            <% else %>
                <td><%= company.average_rating.round(2) %></td>
            <% end %>
            <% if company.phone_number.nil? then %>
                <td><i>None Provided</i></td>
            <% else %>
                <td><%= company.phone_number %></td>
            <% end %>
        </tr>
        <% end %>
    </tbody>
</table>
