<section id="home" name="home"></section>
	<div id="headerwrap">
	    <div class="container">
	    	<div class="row centered">
	    		<div class="col-lg-12">
					<h1>Users</h1>
					<h3>Users for App Management</h3>
					<br>
	    		</div>
	    		
	    	</div>
	    </div> <!--/ .container -->
	</div><!--/ #headerwrap -->

<% if @users.length > 10 %>
    <%= render partial: "table", locals: {users: @users} %>
<% else %>
<% rowLength = 4 %>
<% itemNumber = 0 %>
<% totalItemCount = @users.length %>
<div class="panel-container">
<% @users.each do |user| %>
    <% if itemNumber % rowLength == 0 then %>
        <div class="row">
    <% end %>

    <%= render partial: "panel", locals: {user: user} %>

    <% if itemNumber % rowLength == 3 or itemNumber+1 == totalItemCount then %>
        </div>
    <% end %>
    <% itemNumber += 1 %>

<% end %>
</div>
<% end %>

<div class="text-center">
    <%= link_to "Add User", new_manage_user_path, id: "add_new_user", class: "btn btn-success" %>
</div>
<br>
